@use '../../../main' as *;

.hero_wrapper {
  @include flex-row-container;

  justify-content: space-between;
  position: relative;
  flex-wrap: wrap;
  gap: 10rem;
  flex-grow: 1;
  height: 150vh;
  // min-height: 60rem;
}

.hero_sword {
  position: fixed;
  transform: rotate(-50deg);
  top: 200px;
  scale: 0.8;
}

.hero_boulder {
  position: absolute;
  top: 360px;
  scale: 0.8;
}

.hero_left_content {
  width: 50%;
  flex: 1;
}

.hero_right_content {
  @include flex-col-container;

  width: 50%;
  flex: 1;
  margin-top: 20%;

  h1 {
    font-size: $font-xxl;
    max-width: 25rem;
    text-align: end;
  }
}
