@use '../../../main' as *;

#scroll-pull-sword {
  opacity: 0;
  text-align: center;
};

.hero-wrapper {
  @include flex-row-container;
  // @include side-padding;

  justify-content: space-between;
  position: relative;
  flex-wrap: wrap;
  // gap: 10rem;
  flex-grow: 1;
  height: 450vh;
  // min-height: 60rem;
}

.hero-sword {
  position: absolute;
  transform: rotate(-50deg);
  top: 200px;
  left: 200px;
  scale: 0.7;
}

.hero-boulder {
  position: absolute;
  top: 360px;
  left: 200px;
  scale: 0.8;
}

.hero-front-content {
  flex: 1;
  position: relative;
}

.hero-back-content {
  position: absolute;
  width: 100%;
  height: 100%;

  top: 3%;
  left: 0;

  z-index: -1;

  h1 {
    font-size: $font-title;
    text-align: left;
    text-transform: uppercase;
  }
}

#hero-title {
  max-width: 800px;
  position: absolute;
  right: 10%;
}

#hero-pull-sword-left,
#hero-pull-sword-right {
  position: absolute;
  top: 0;
  width: 500px;
  line-height: 150%;
}

#hero-pull-sword-left {
  left: 10%;
  text-align: right;
  width: 400px;
}

#hero-pull-sword-right {
  right: 10%;
  text-align: left;

}

