@use '../../../main' as *;

.journey-wrapper {
  @include flex-row-container;
  @include side-padding;

  height: 250vh;
  gap: 10rem;
}

.journey-sword {
  position: fixed;
  left: 35%;
  top: 20%;
  transform: rotate(-45deg);
  opacity: 0;
}

#journey-left-content,
#journey-right-content {
  width: 50%;


  h1 {
    font-size: $font-title;
    text-transform: uppercase;
  }
}

#journey-left-content {
  margin-top: 10%;
  text-align: right;
}
#journey-right-content {
  text-align: left;
  margin-top: 20%;
  display: flex;
  justify-content: start;
}
