@use '../../../main.scss' as *;

#map-reveal-wrapper {
  width: 100vw;
  height: 780vh;
  overflow: hidden;
}

#map-reveal-section {
  height: 100vh;
  width: 100vw;
  position: relative;
}

#map-reveal-sky {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: 1;
}

#map-reveal-dark-sky {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 130vh;
  object-fit: cover;
  z-index: 1;
  opacity: 0;
}

#map-reveal-forest {
  position: absolute;
  top: 25%;
  width: 100vw;
  height: 75vh;
  object-fit: cover;
  z-index: 3;
}

.map-reveal-cloud {
  z-index: 2;
  position: absolute;
  top: 3rem;
  left: -1rem;
  mix-blend-mode: luminosity;
}

#map-reveal-heir-title {
  z-index: 3;
  text-align: center;
  text-transform: uppercase;
  position: absolute;
  top: 25%;
  font-size: $font-xxl;
  color: $secondary-text;
  width: 100%;
}

#map-reveal-dawn-title {
  z-index: 3;
  text-align: center;
  text-transform: uppercase;
  position: absolute;
  top: 35%;
  font-size: $font-xxl;
  color: $primary-text;
  width: 100%;
  opacity: 1;
}
